{% extends "base.html" %}

{% block title %}{{ users[uname] }} {% if uname != '' %} - {% endif %}{% endblock %}

{% block user_menu %}
{% for user in users|dictsort(false, 'value') %}
<li><a href='/{{user[0]}}'>{{user[1]}}</a></li>
{% endfor %}
{% endblock %}

{% block user_content %}
{{super()}}
<h3>Rankings</h3>
<div class="list-group">
    {% for rank, user in top_five %}
    <a href="/{{user}}"
        class="list-group-item {% if user == uname %}active{% endif %}">
        <span class="badge">{{ rank|round|int }}</span>
        {{ users[user] }}
    </a>
    {% endfor %}
</div>
{% if uname != "" and ranks[uname] < top_five[-1][0] %}
<div style="text-align:center;"><h4>⋮</h4></div><br />
<div class="list-group">
    <a href="/{{uname}}"
        class="list-group-item active">
        <span class="badge">{{ ranks[uname]|round|int }}</span>
        {{ users[uname] }}
    </a>
</div>
{% endif %}
{% endblock %}

{% block match_content %}
{{super()}}
    {% for match in matches %}
    <div id="match" class="panel panel-default">
        <div id="participants" class="panel-body">
            <div style="float:left">
                <ul id="participant" class="list-inline">
                    {% for i, player in enumerate(match.participants) %}
                    <li>
                    <a href="/{{player[0]}}">
                    {% if i == match.winner %}<b>{% endif %}
                        {{ users[player[0]] }}
                        {% if i == match.winner %}</b>{% endif %}
                    <span class="badge {% if i == match.winner %}alert-info{% endif %}">{{ player[1] }}</span>
                </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="date" style="float:right">
                {{ match.date }} 
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block add_match %}
<script>
var postMatch = function ()
{
    var match_str = document.getElementById("player1").value + ";" +
                    document.getElementById("score1").value + ";" +
                    document.getElementById("player2").value + ";" +
                    document.getElementById("score2").value;
    var match_b64 = btoa(match_str).replace('/','_').replace('+','.');
    d3.json("/add_match/"+match_b64, function(error, data) {
                if (error) return console.warn(error);
                loopback = data;
                console.log(data);
                if (data.error.length == 0)
                {
                    window.location.reload();
                }
                else
                {
                    document.querySelector("#player1-form-group")
                        .classList.remove("has-error");
                    document.querySelector("#player2-form-group")
                        .classList.remove("has-error");
                    document.querySelector("#score1-form-group")
                        .classList.remove("has-error");
                    document.querySelector("#score2-form-group")
                        .classList.remove("has-error");

                    var previous_msgs = document
                        .getElementsByClassName("alert");
                    while(previous_msgs[0])
                    {
                        previous_msgs[0].parentElement.removeChild(previous_msgs[0])
                    }

                    var inputs = document.getElementById("match_inputs");

                    for (var i = 0; i < data.error.length; ++i)
                    {
                        err = data.error[i];
                        for (var j = 0; j < err[0].length; ++j)
                        {
                            document
                                .querySelector("#"+err[0][j]+"-form-group")
                                .classList.add("has-error");
                        }
                        var err_msg = document.createElement("div");
                        err_msg.classList.add("alert");
                        err_msg.classList.add("alert-danger");
                        err_msg.classList.add("alert-dismissable");
                        err_msg.innerHTML = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\"><span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span></button><strong>Error:</strong> "+err[1];
                        inputs.appendChild(err_msg);
                    }
                }
            });
}
</script>
<form id="add_match" class="form-inline" role="form">
    <div id="match_inputs">
        {% for player in [1,2] %}
        <div id="player{{player}}-form-group" class="form-group">
            <select id="player{{player}}" class="form-control form-control-danger">
                {% for user in users|dictsort(false, 'value') %}
                <option 
                {% if player == 1 and uname == user[0] %}selected="selected"{% endif %}
                value="{{user[0]}}">
                {{user[1]}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div id="score{{player}}-form-group" class="form-group has-feedback">
            <input id="score{{player}}" class="form-control" placeholder="score">
        </div>
        <br />
        <br />
        {% endfor %}
    </div>
    <input onclick="postMatch();" type="button" 
        class="btn btn-primary" value="Add Match">
</form>
{% endblock %}

{% block stats_content %}
<style>

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
 
line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}
</style>
<svg class="chart"></svg>
<script>
var width = 500,
height = 400;
var margin = 20;

var w = width;
var h = height;

var y = d3.scale.linear()
    .range([0+margin, height-margin]);
var x = d3.scale.linear()
    .range([0+margin, width-margin])

var chart = d3.select(".chart")
    .attr("width", width)
    .attr("height", height);

var make_chart = function(error, data)
{
    console.log(data);
    y.domain([d3.min(data, function(d) {return d3.round(d.elo)}) - 10, 
              d3.max(data, function(d) {return d3.round(d.elo)}) + 10]);

    var line = d3.svg.line()
        .x(function(d, i) { return x(d.time); })
        .y(function(d) { return y(d.elo) })


    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) 
                { return "translate(" + i * barWidth + ",0)"; });

    bar.append("rect")
        .attr("y", function(d) { return y(d3.round(d.elo)); })
        .attr("height", function(d) { return height - y(d3.round(d.elo)); })
        .attr("width", barWidth - 1);

    bar.append("text")
        .attr("x", barWidth / 2)
        .attr("y", function(d) { return y(d3.round(d.elo)) + 3; })
        .attr("dy", ".75em")
        .text(function (d) { return d3.round(d.elo); });
};

var make_better_chart = function(error, data)
{
    console.log(data);
    y.domain([d3.min(data, function(d) {return d3.round(d.elo)}) - 10, 
              d3.max(data, function(d) {return d3.round(d.elo)}) + 10]);
    x.domain([d3.min(data, function(d) {return d3.round(d.time)}), 
              d3.max(data, function(d) {return d3.round(d.time)})]);
    var y_min = d3.min(data, function(d) {return d3.round(d.elo)}) - 10; 
    var y_max = d3.max(data, function(d) {return d3.round(d.elo)}) + 10;
    var x_min = d3.min(data, function(d) {return d3.round(d.time)}); 
    var x_max = d3.max(data, function(d) {return d3.round(d.time)});
    var vis = chart;
    
        //d3.select("body")
        //.append("svg:svg")
        //.attr("width", w)
        //.attr("height", h)
             
    var g = vis.append("svg:g")
        .attr("transform", "translate(0, 400)");
   
    var line = d3.svg.line()
        .x(function(d,i) { return x(d.time); })
        .y(function(d) { return -1 * y(d.elo); });

    g.append("svg:path").attr("d", line(data));

    g.append("svg:line")
        .attr("x1", x(x_min))
        .attr("y1", -1 * y(y_min))
        .attr("x2", x(x_max))
        .attr("y2", -1 * y(y_min))
         
     g.append("svg:line")
         .attr("x1", x(x_min))
         .attr("y1", -1 * y(y_min))
         .attr("x2", x(x_min))
         .attr("y2", -1 * y(y_max))

    g.selectAll(".xLabel")
        .data(x.ticks(5))
        .enter().append("svg:text")
        .attr("class", "xLabel")
        .text(String)
        .attr("x", function(d) { return x(d) })
        .attr("y", 0)
        .attr("text-anchor", "middle")
                             
     g.selectAll(".yLabel")
         .data(y.ticks(4))
         .enter().append("svg:text")
         .attr("class", "yLabel")
         .text(String)
         .attr("x", 0)
         .attr("y", function(d) { return -1 * y(d) })
         .attr("text-anchor", "right")

    g.selectAll(".xTicks")
        .data(x.ticks(5))
        .enter().append("svg:line")
        .attr("class", "xTicks")
        .attr("x1", function(d) { return x(d); })
        .attr("y1", -1 * y(y_min))
        .attr("x2", function(d) { return x(d); })
        .attr("y2", -1 * y(y_min-10))
         
     g.selectAll(".yTicks")
         .data(y.ticks(4))
         .enter().append("svg:line")
         .attr("class", "yTicks")
         .attr("y1", function(d) { return -1 * y(d); })
         .attr("x1", x(x_min-10))
         .attr("y2", function(d) { return -1 * y(d); })
         .attr("x2", x(x_min))

};

(function() 
{
d3.json("/{{uname}}/stats", make_better_chart);
})();
</script>
{% endblock %}
