{% extends "base.html" %}
{% block title %} {{ users[uname] }} {% endblock %}
{% block content %}
    <h1> Elotron </h1>
    <dl id="users">
        {% for user, dispName in users.iteritems() %}
        <dt>
            {% if user == uname %}<b>{% endif %}
            {{ dispName }}
            {% if user == uname %}</b>{% endif %}
        </dt>
        <dd>
            {{ ranks[user]|round|int }}
        </dd>
        {% endfor %}
    </dl>

    <ul id="matches">
    {% for match in matches %}
        <li><div id="match">
            <div id="participants">
            {% for i, player in enumerate(match.participants) %}
            <div id="participant" class={%if i == match.winner%}"winner"{%else%}"loser"{%endif%}>
                <div id="name">
                    {{ users[player[0]] }}
                </div>
                <div id="score">
                    {{ player[1] }}
                </div>
                </div>
            {% endfor %}
            </div>
            <div id="date">
                {{ match.date }} 
            </div>
        </div></li>
    {% endfor %}
    </ul>
{% endblock %}

